body {
    background-color: #85AFD4;
    font-family: "Lato";
}

.submit-button {
    background-color: #E47272;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

table, th, td {
    border: 2px solid white;
}